[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"
trusted-host = "mirrors.aliyun.com"

[packages]
playwright = "*"
pytest = "*"
pytest-playwright = "*"

[dev-packages]

[requires]
python_version = "3.12"
