[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"
trusted-host = "mirrors.aliyun.com"

[install] # 信任来源
trusted-host = "mirrors.aliyun.com"


[packages]

[dev-packages]

[requires]
python_version = "3.9"